[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
requests = "*"
pytest-flask = "*"
pyjwt = "==2.8.0"
pytest = "==7.4.2"
flask-sqlalchemy = "==3.0.5"
flask-jwt-extended = "==4.5.3"
flask-cors = "==4.0.0"
flask-migrate = "==4.0.5"
psycopg2-binary = "==2.9.7"
werkzeug = "==2.3.7"
python-dotenv = "==1.0.0"
marshmallow = "==3.20.1"
flask-marshmallow = "==0.15.0"
marshmallow-sqlalchemy = "==0.29.0"
bcrypt = "==4.0.1"
gunicorn = "==21.2.0"
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
